@import '../../stylesheets/placeholders.scss';

.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 480px) {
    padding-top: 200px;
  }

  @media (min-width: 768px) {
    padding-top: 150px;
  }

  .content {
    width: 90%;
  }
}

.info {
  @media (min-width: 768px) {
    width: 70%;
    margin: 0 auto;
  }

  @media (min-width: 960px) {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
}

.form {
  text-align: center;
  font-family: 'GothamPro';
}

.title {
  @extend %title;
  text-align: center;
  margin: 20px 0;
}

.button {
  width: 80%;

  @media (min-width: 768px) {
    width: 50%;
  }

  @media (min-width: 960px) {
    width: 30%;
  }
}

.warning {
  @media (min-width: 768px) {
    width: 50%;
    margin: 10px auto;
  }
}

.data {
  @media (min-width: 960px) {
    width: 45%;
    margin: 2%;
  }

  @media (min-width: 1200px) {
    width: 35%;
    // margin: 2%;
  }
}
