.mapSection {
  background-color: #000;
  padding: 20px;
}

.mapDelivery {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.title {
  color: #fff;
  text-align: center;
  font-size: 52px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 30px;
}

.mapContainer {
  position: relative;
  width: 40%;
  height: 400px;
}

.imageContainer {
  width: 40%;
}

.image {
  width: 100%;
}
