.productContainer {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  width: 60%;
}

.titleContainer,
.typeOfProducts {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 5px 2px black;
  margin-bottom: 20px;
}

.titleContainer {
  display: flex;
  align-items: center;
}

.title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 32px;
}

.productTitle {
  font-weight: bold;
  font-size: 24px;
}

.allProducts {
  height: 500px;
  overflow-y: scroll;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 10px;
}

.allProducts::-webkit-scrollbar {
  width: 10px;
}

.allProducts::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #000;
}

.icon {
  width: 40px;
  height: 40px;
  margin: 0 15px;
  box-shadow: 0 0 5px 2px black;
  border-radius: 50%;
}
