@import '../../stylesheets/placeholders.scss';

.container {
  @extend %container-black;
  border-radius: 50%;
  overflow: hidden;
  transition: 0.5s;

  &:hover {
    box-shadow: 0 0 10px 2px $selected-color;
  }
}

.image {
  width: 80%;
}
