.wrapper {
  padding-top: 100px;
  position: relative;
  background-position: center 10%;
  background-size: 100% 30%;
  background-repeat: no-repeat;
}

.backgroundUkraine {
  background-image: url('../../assets/images/slider/ukrainian-cuisine.jpg');
}

.backgroundItaly {
  background-image: url('../../assets/images/slider/italian-cuisine.jpg');
}

.backgroundGeorgia {
  background-image: url('../../assets/images/slider/georgian-cuisine.jpg');
}

.backgroundJapan {
  background-image: url('../../assets/images/slider/japanese-cuisine.jpeg');
}

.backgroundPizza {
  background-image: url('../../assets/images/slider/pizza-cuisine.jpg');
}

.image {
  width: 100%;
}

.content {
  display: flex;
  justify-content: space-evenly;
  margin-top: 200px;
  /* position: absolute;
  top: 50%; */
}

.busketContainer {
  align-self: flex-start;
  width: 30%;
}
