.wrapper {
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  flex-grow: 1;
}

.backgroundUkraine {
  background-image: url('../../assets/images/slider/ukrainian-cuisine.jpg');
}

.backgroundItaly {
  background-image: url('../../assets/images/slider/italian-cuisine.jpg');
}

.backgroundGeorgia {
  background-image: url('../../assets/images/slider/georgian-cuisine.jpg');
}

.backgroundJapan {
  background-image: url('../../assets/images/slider/japanese-cuisine.jpeg');
}

.backgroundPizza {
  background-image: url('../../assets/images/slider/pizza-cuisine.jpg');
}

.content {
  display: flex;
  justify-content: space-evenly;
  padding-top: 100px;
}

.busketContainer {
  display: none;
}

.swimButtons {
  position: fixed;
  top: 200px;
  z-index: 2;
  width: 100%;
}

@media (min-width: 480px) {
  .wrapper {
    padding-top: 130px;
    background-position: center 20%;
  }

  .content {
    margin-top: 150px;
  }
}

@media (min-width: 768px) {
  .content {
    margin-top: 0;
  }

  .swimButtons {
    top: 150px;
  }
}

@media (min-width: 960px) {
  .busketContainer {
    display: block;
    align-self: flex-start;
    width: 30%;
  }

  .basketButton {
    display: none;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .content {
    padding-top: 70px;
    flex-grow: 1;
  }

  .swimButtons {
    top: 130px;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    padding-top: 120px;
    background-position: center 15%;
  }
}
