.basket {
  min-width: 300px;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 5px 2px black;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

.title {
  font-size: 30px;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding: 10px;
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  border-bottom: 1px solid black;
}

.confirmButton {
  width: 100%;
  margin: 0;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  width: 40%;
}

.totalPrice {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
