@import './libs/reset.css';
@import './fonts.scss';
@import './vars.scss';
@import './placeholders.scss';

* {
  font-family: 'GothamPro';
  font-style: normal;
  font-weight: normal;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
