$text-font-size-360: 14px;
$text-font-size-480: 14px;
$text-font-size-768: 16px;
$text-font-size-960: 20px;
$text-font-size-1200: 22px;

$footer-font-size: 12px;
$footer-font-size-960: 16px;

$title-font-size-360: 28px;
$title-font-size-480: 32px;
$title-font-size-768: 38px;
$title-font-size-960: 38px;
$title-font-size-1200: 38px;

$main-color-1: #000;
$main-color-2: #fff;
$selected-color: rgb(253, 186, 0);
$delete-color: rgb(255, 0, 0);
$disabled-color: rgb(141, 141, 141);
