.footer {
  background-color: #000;
  color: #fff;
  padding: 50px 0;
}

.title {
  margin: 0;
  text-align: center;
  font-size: 54px;
  font-weight: bold;
}

.logoContainer {
  width: 100px;
  box-shadow: 0 0 5px 2px #fff;
  border-radius: 50%;
}

.logo {
  width: 100%;
}

.contactsContainer,
.socialContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
}

.contactsContainer {
  margin-top: 30px;
}

.contactsTitle {
  margin: 0 0 15px;
  font-weight: bold;
}

.socialTitle {
  text-align: center;
}

.adress {
  margin: 0;
}

.email {
  color: #fff;
  text-decoration: none;
}

.icon {
  width: 30px;
  height: 30px;
  margin: 10px;
}
