.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 998;
}

.inputAdress {
  width: 600px;
  height: 50px;
  border-radius: 25px;
  border: none;
  font-size: 32px;
  text-align: center;
  padding: 0 50px;
}

.inputAdress::placeholder {
  color: lightgrey;
  font-weight: bold;
}

.inputContainer:before {
  content: '\f3c5';
  font-family: FontAwesome;
  color: #000;
  font-size: 32px;
  padding-right: 0.5em;
  position: absolute;
  top: 50%;
  left: 6%;
  transform: translate(-50%, -50%);
}
