.sLiderContainer {
  position: relative;
}

.inputContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 998;
}

.basketButton {
  position: fixed;
  top: 15%;
  right: 5%;
  z-index: 999;
}

.swimButtons {
  position: fixed;
  top: 200px;
  z-index: 2;
  width: 100%;
}

@media (min-width: 480px) {
  .wrapper {
    padding-top: 120px;
  }

  .basketButton {
    top: 35%;
  }
}
